.carousel-item {
  height: 100vh;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}
.card-img {
  height: auto;
  max-width: 100%;
  background-size: cover;
  display: block;
}

.ccard {
  width: 250px !important;
  height: 300px !important;
}
.book {
  display: block;
}
.booking {
  background-image: url("images/booking.jpeg");
  background-size: cover;
  position: relative;
  /*top: 1450px;*/
  left: 0;
  right: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.booking::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.title {
  display: block;
  position: relative;
  font-weight: 600;
}
.book {
  display: block;
  position: relative;
}
@mediaquery() {
}
.ima {
  height: 100%;
  width: 100%;
}
