.carousel-item {
  height: 100vh;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}
.card-img {
  height: auto;
  max-width: 100%;
  background-size: cover;
  display: block;
}
.book {
  display: block;
}
.booking {
  background-image: url("images/booking.jpeg");
  background-size: cover;
  position: relative;
  /*top: 1450px;*/
  left: 0;
  right: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.booking::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.title {
  display: block;
  position: relative;
  font-weight: 600;
}
.book {
  display: block;
  position: relative;
}
.titcar {
  animation-name: intro;
  animation-duration: 2s;
  position: relative;
}
.pcar {
  animation-name: intro;
  animation-duration: 3.5s;
  position: relative;
}
@media (max-width: 920px) {
  .ima {
    height: 100%;
  }
}
@media (max-width: 750px) {
  .carousel-item {
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  .titcar {
    font-size: 26px;
  }
  .pcar {
    font-size: 16px !important;
  }
}
@media (max-width: 450px) {
  .carousel-item {
    height: 300px !important;
    background-repeat: no-repeat;
    object-fit: scale-down !important;
  }
  .titcar {
    font-size: 18px !important;
  }
  .pcar {
    font-size: 10px !important;
  }
  .ima {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .carousel-item {
    height: 60vh;
    background-repeat: no-repeat;
    object-fit: scale-down !important;
  }
  .titcar {
    font-size: 24px;
  }
  .pcar {
    font-size: 14px !important;
  }
  .ima {
    height: 100%;
    width: 100%;
  }
}

.butto:hover {
  background-color: rgb(4, 109, 236) !important;
  color: white !important;
  border-color: white;
}
.circ {
  color: white;
}
@keyframes intro {
  0% {
    top: 250px;
  }
  100% {
    top: 0px;
  }
}
